header {
  height: 100px;
  width: full;
  /* margin: 20px 0 0 0; */
  background-color: #92ecfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}
ul {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socialicons {
  height: 50px;
  width: 50px;
}
