

.formbackground {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.formContainer {
  max-width: auto;
  max-height: auto;
  border-radius: 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
}



.input-group__label {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: baseline;
}

.input-group {
  margin-bottom: 200rem;
}

.input-group__input {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.1;
  color: black;
  background-image: none;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.input-group__input:not(:focus):invalid {
  color: var(--color-invalid);
  animation: error-shake 600ms;
  border: 2px solid var(--color-invalid);
}
.input-group__input:invalid {
  visibility: visible;
  animation: error-shake 600ms;
}
@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.input-group__error {
  color: red;
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
}
.input-group__input:focus {
  outline-offset: 4px;
}
.input:invalid {
  
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem #ff0000;
}

.formContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 2rem;
}

.titleCloseBtn {
  display: flex;
  justify-content:right;
 
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding-left: 8rem;
}

.formContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.formContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
