.product-wrapper {
  padding-top: 100px;
  height: 240vh;
  overflow-y: auto;
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);
  padding-bottom: 100px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.productcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 0 0 calc(25% - 20px);
}

.product-img {
  height: 320px;
  width: 250px;
  padding-top: 20px;
}

.productcontent h3,
.productcontent h4,
.productcontent h1 {
  text-align: center;
  font-family: sans-serif;
}

.productcontent h1 {
  letter-spacing: 1.5px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 869px) {
  .productcontent {
    flex: 0 0 calc(33.33% - 20px);
    .product-img {
      height: 280px;
      width: 220px;
    }
  }

  @media screen and (max-width: 680px) {
    .productcontent {
      flex: 0 0 calc(50% - 20px);
    }
    .product-img {
      height: 240px;
      width: 200px;
    }
  }

  @media screen and (max-width: 397px) {
    .productcontent {
      flex: 0 0 calc(100% - 20px);
    }
    .product-img {
      height: 200px;
      width: 180px;
    }
  }
}
