.product-wrapper {
  height: 90vh;
  /* width: calc(100% - 20px); */
  overflow-y: auto;
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: flex-start;
  padding: 10px;
  width: calc(100% - 20px);

  .productcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 0 0 calc(25% - 20px);
  }

  .product-img {
    height: 320px;
    width: 250px;
    margin-bottom: 20px;
  }

  .product-content {
    font-family: sans-serif;
    text-align: center;
  }

  .product-content p {
    padding: 10px 0;
    font-size: 20px;
  }

  .product-content h1 {
    letter-spacing: 1.5px;
  }

  button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
  }
}
